.header{
    background-color: antiquewhite;
    display: flex;
       
}
.img{
    width: 300px;
}
.header1{
    border: 1px solid rgb(224, 218, 191);
    font-size: x-large;
    /* width: 200px; */
    /* height: 30px; */
    color: darkslateblue;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    
    
    
    
    }
.popi{
background-color: rgb(180, 192, 202);
width: 400px;
text-align: center;
justify-items: center;




}
.kk{
    box-shadow: 0 0 0 0;
    outline: 0;
    border: none;
    border-bottom: 2px solid black;
    font-size: larger;
    
}
.deux , .trois{
    display: none;
}
.btn{
    text-align: center;
}
 @media screen  and (max-width: 300px){
     section{
         margin: 0;
         padding: 0;
     }
     h1{
         width: 350px;
     }
     .header{
         
         flex-direction: column;
         width: 100%;
     }
     .header img{
         width: auto;
         height: 300px;
     }
     .popi{
         /* background-color: blue;
         width: 100%;
         height: 100%; */
         width: 10%;
         
    
     }
     .container{
         background-color: black;
         flex-direction: column;
         width: 100%;
         /* text-align: center;
         width: 1000px;
         margin: 800px; */
     }
     section .popi .formulair{
         margin: 0;
         padding: 0;
         display: flex;
         flex-direction: column;
     }
     .header1{
         margin-left: 20px;
         width: 80%;
         padding-left: 50px;
     }
     input{
         height: 50px !important ;
         width: 250px !important;
         
         
     }
::placeholder{
    font-size: larger;
}
     .btn h1{
         margin: 0;
     }
     
    .btn{
        
        display: flex;
        text-align: center;
        width: 100%;
        padding-left: 50px;
    }
 }
 
 
 
    


